// COLORS

$primary-color:   #FF1E26;
$secondary-color: #B73B3B;
$tertiary-color:  #BDEFF8;

// FONT SIZE
$p-font-size:	14px;
$h3-font-size:	$p-font-size*4/3;
$h2-font-size:	$h3-font-size*4/3;
$h1-font-size:	$h2-font-size*4/3;

// OPTION FILE
$use-slider: false;
$use-custom: false;
